<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="winder.Scrap">

	<insert id="insertScrap" parameterType="Scrap">
		insert into scrap(sno, url, stitle, sdate, id, pno) values
		(scrap_seq.nextval, #{url}, #{stitle}, sysdate, #{id}, null)
	</insert>

	<select id="selectScrapList" parameterType="java.lang.String" resultType="Scrap">
		select * from scrap where id =#{id}
	</select>
	
	<select id="sharedscrapList" parameterType="java.lang.Integer" resultType="Scrap">
		select * from scrap where pno =#{pno}
	</select>
 
	<select id="selectProject" parameterType="String" resultType="Scrap">
		select DISTINCT  m.id, m.tno, p.pno, p.name
		from members m, project p 
		where m.id =#{id} 
	</select>
	
	<update id="shareScrap" parameterType="Scrap">
		update scrap set
		pno= #{pno} where sno=#{sno}
	</update> 
	
	<select id="selectScrapNoList"  parameterType="java.lang.Integer"  resultType="Scrap">
		select * from scrap where sno =#{sno}
	</select>

</mapper>  