<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="winder.Todo">

	<insert id="insertTodo" parameterType="Todo">
		insert into todo(tdno, content, state, tddate, pno, tdstart) values
		(todo_seq.nextval, #{content}, 1, #{tddate}, #{pno}, #{tdstart})
	</insert>

	<delete id="deleteTodo" parameterType="int">
		delete todo where tdno=#{tdno}
	</delete>

	<update id="updateTodo" parameterType="Todo">
		update todo set
		content= #{content}, tddate=#{tddate}, tdstart=#{tdstart} where tdno=#{tdno}
	</update>
	
	<select id="selectTodo" parameterType="int"	resultType="Todo">
		select tdno, content, state, to_char(tddate, 'yyyy-mm-dd')tddate, pno, to_char(tdstart, 'yyyy-mm-dd')tdstart from todo where tdno=#{tdno}
	</select>

	<select id="selectAllTodo" resultType="Todo">
		select * from todo
	</select>
	
	<select id="listTodo" parameterType="int" resultType="Todo">
		select tdno, content, state, to_char(tddate, 'yyyy/mm/dd') tddate, pno, to_char(tdstart, 'yyyy/mm/dd') tdstart from todo where pno=#{pno} order by content asc
	</select>

</mapper>